<script src="/js/led-controls.js" defer></script>
<section id="led-controls">
    <div class="col">
        <button data-number="0b1000000000000000">LED 1</button>
        <button data-number="0b0100000000000000">LED 2</button>
        <button data-number="0b0010000000000000">LED 3</button>
    </div>
    <div class="col">

        <button data-number="0b0001000000000000">LED 4</button>
        <button data-number="0b0000100000000000">LED 5</button>
        <button data-number="0b0000010000000000">LED 6</button>

    </div>
    <div class="col">
        <button data-number="0b0000000000000100">LED 7</button>
        <button data-number="0b0000000000000010">LED 8</button>
        <button data-number="0b0000000000000001">LED 9</button>
    </div>
    <div class="col">
        <button id="all-on" data-number="0b1111111111111111">All On</button>
        <button id="all-off" data-number="0b0000000000000000">All Off</button>
    </div>
</section>