<script src="/js/led-controls.js" defer></script>
<section id="led-controls">
    <div class="col">
        <button data-number="0000000000000001">LED 1</button>
        <button data-number="0000000000001000">LED 4</button>
        <button data-number="0000000010000000">LED 7</button>
    </div>
    <div class="col">

        <button data-number="0000000000000010">LED 2</button>
        <button data-number="0000000000010000">LED 5</button>
        <button data-number="0000000010000000">LED 8</button>

    </div>
    <div class="col">
        <button data-number="0000000000000100">LED 3</button>
        <button data-number="0000000000100000">LED 6</button>
        <button data-number="0000000100000000">LED 9</button>
    </div>
    
    <div class="col">
        <button data-number="0000001000000000">LED 10</button>
        <button data-number="0000010000000000">LED 11</button>
        <button data-number="0000100000000000">LED 12</button>
    </div>
    
    <div class="col">
        <button data-number="0001000000000000">LED 13</button>
        <button data-number="0010000000000000">LED 14</button>
        <button data-number="0100000000000000">LED 15</button>
    </div>
    
    <div class="col">
        <button data-number="1000000000000000">LED 16</button>
    </div>
    <div class="col">
        <button id="all-on" data-number="1111111111111111">All On</button>
        <button id="all-off" data-number="0000000000000000">All Off</button>
    </div>
</section>