<script src="/js/oled.js" defer></script>
<section id="oled-input" class="std-width">
    <h2>OLED Display Control</h2>
    <form id="oled-form">
        <textarea id="oled-message" placeholder="Enter your message here" resize="none"></textarea>
        <button type="submit">Set Message</button>
    </form>
</section>