<%-include('partials/head')%>
<section id="welcome" class="std-width">
    <h1>Welcome to the bridge!</h1>
    <p>This is where you pilot your ship!</p>
</section>
<%-include('partials/led-controls')%>
<%-include('partials/oled-intput')%>
<%-include('partials/foot')%>