body {
    background-color: rgb(1, 120, 224);
    font-family: Arial, Helvetica, sans-serif;
}

#welcome {
    display: flex;
    flex-direction: column;
    width: 85ch;
}

.std-width {
    margin: 0 auto;
    width: 85ch;
    max-width: 100%;
}

#led-controls {
    display: grid;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
}
#led-controls .col{
    display: flex;
    width: 30ch;
}

#led-controls .col button {
    flex-grow: 1;
    margin: 5px 5px;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #003a6c;
    color: white;
    cursor: pointer;
    width: 32%;
}