body {
    background-color: rgb(1, 120, 224);
    font-family: Arial, Helvetica, sans-serif;
}

#intro {
    display: flex;
    flex-direction: column;
    width: 85ch;
}

#button-panel {
    display: flex;
    justify-content: space-between;
}

.std-width {
    margin: 0 auto;
    width: 85ch;
    max-width: 100%;
}